@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}




#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    /* text-shadow: 0 0 5px #00c6ff; */
}

.clock ul {
    width:405px;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.clock ul li {
    display: inline;
    font-size:90px;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    /* text-shadow: 0 0 5px #00c6ff; */
}

#point {
    position: relative;
    /*-moz-animation: mymove 1s ease infinite; */
    /*-webkit-animation: mymove 1s ease infinite; */
    top: -8px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    /* text-shadow: 0 0 20px #00c6ff; */
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    /* text-shadow: 0 0 20px #00c6ff; */
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        /* text-shadow: 0 0 20px #00c6ff; */
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        /* text-shadow: 0 0 20px #00c6ff; */
    };
}