/*
body {
	background:url('../uploads/background.jpg') no-repeat;
	-ms-behavior: url('backgroundsize.min.htc');
	border:none;
	padding:0px;
	margin:0px;
}
*/

html {
	border:none;
	padding:0px;
	margin:0px;
}

.iebackground {
	position:relative;
	z-index:-1;
}

img.iebackground {
	position:fixed;
	top:0px;
	left:0px;
	z-index:-2;
	height:100%;
	width:100%;
	
}

.ieheader {
	background:url('../img/headerbg.jpg') repeat-x top;
	height:120px;
	position:absolute;
	width:100%;
	z-index:-1;
}

#logo {
	background:#fff;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; */
	
}

.loginbox {
	background:#fff;
	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; */
}

#digiclock {
	position: relative;
	z-index:50;

}