/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.col-md2-3 {
  width: 20%;
  float: left;
  padding-right: 20px;
}
div[class^='col-md'].active .widget {
  -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.x-navigation > li.xn-logo > a:first-child {
  background: url('../kinkcakes/imgs/logo.png') no-repeat scroll center top #2d3945;
  background-size: 240px;
  background-position: -10px -22px;
  height: 95px;
}
.x-navigation > li.xn-logo > a:first-child:hover {
  background-color: #2d3945;
}
.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child {
  background: url('../kinkcakes/imgs/girl.jpg');
  background-size: 98%;
  background-repeat: no-repeat;
}
/*.x-navigation.x-navigation-horizontal{
    background-color:@color1;
}*/
.page-container .page-content {
  background: url('../kinkcakes/imgs/bg.png');
}
.timeplugin {
  text-align: center;
  color: white;
  position: absolute;
  top: 0px;
  padding: 15px;
  margin: auto;
  left: 60px;
  right: 60px;
  z-index: 10;
}
#navigation .widget .widget-title {
  text-align: center;
  padding-top: 33px;
  font-size: 22px;
}
.loginController h1#title {
  text-align: center;
  color: white;
}
body .profile .profile-data .profile-data-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
}
body .page-content-wrap.cakes.index .panel2 {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  float: left;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  border-top: 2px solid #E5E5E5;
  margin-bottom: 20px;
  position: relative;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
body .page-content-wrap.inventoryController .btn-group {
  position: absolute;
  top: 15px;
  left: 180px;
  width: 150px;
}
body .page-content-wrap.inventoryController .btn-group a {
  width: 300px;
}
body .page-content-wrap.inventoryController .table tr td#img {
  text-align: center;
}
body .page-content-wrap.inventoryController .table tr td img {
  max-height: 100px;
  max-width: 100px;
}
body.userproduction .page-container {
  background: #035728;
}
body.userproduction .x-navigation.x-navigation-horizontal {
  background: #035728;
}
body.userproduction .x-navigation > li.xn-logo > a:first-child {
  background-color: #035728;
}
body.userproduction .x-navigation > li.xn-profile {
  border-bottom: 1px solid #035728;
}
body.userproduction .profile {
  background: #035728;
}
body.userproduction ul.x-navigation {
  background: #035728;
}
body.userproduction ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #024821;
}
body.userproduction ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #035226;
}
body.userproduction ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #03612d;
}
body.userproduction ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #034d23;
}
body.userproduction .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #03612d;
}
body.userproduction #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.userstoresales .page-container {
  background: #7b0000;
}
body.userstoresales .x-navigation.x-navigation-horizontal {
  background: #7b0000;
}
body.userstoresales .x-navigation > li.xn-logo > a:first-child {
  background-color: #7b0000;
}
body.userstoresales .x-navigation > li.xn-profile {
  border-bottom: 1px solid #7b0000;
}
body.userstoresales .profile {
  background: #7b0000;
}
body.userstoresales ul.x-navigation {
  background: #7b0000;
}
body.userstoresales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #6c0000;
}
body.userstoresales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #760000;
}
body.userstoresales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #850000;
}
body.userstoresales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #710000;
}
body.userstoresales .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #850000;
}
body.userstoresales #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.usermarshmallow .page-container {
  background: #244062;
}
body.usermarshmallow .x-navigation.x-navigation-horizontal {
  background: #244062;
}
body.usermarshmallow .x-navigation > li.xn-logo > a:first-child {
  background-color: #244062;
}
body.usermarshmallow .x-navigation > li.xn-profile {
  border-bottom: 1px solid #244062;
}
body.usermarshmallow .profile {
  background: #244062;
}
body.usermarshmallow ul.x-navigation {
  background: #244062;
}
body.usermarshmallow ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #203957;
}
body.usermarshmallow ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #233e5e;
}
body.usermarshmallow ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #274569;
}
body.usermarshmallow ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #213b5b;
}
body.usermarshmallow .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #274569;
}
body.usermarshmallow #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.userfondant .page-container {
  background: #244062;
}
body.userfondant .x-navigation.x-navigation-horizontal {
  background: #244062;
}
body.userfondant .x-navigation > li.xn-logo > a:first-child {
  background-color: #244062;
}
body.userfondant .x-navigation > li.xn-profile {
  border-bottom: 1px solid #244062;
}
body.userfondant .profile {
  background: #244062;
}
body.userfondant ul.x-navigation {
  background: #244062;
}
body.userfondant ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #203957;
}
body.userfondant ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #233e5e;
}
body.userfondant ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #274569;
}
body.userfondant ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #213b5b;
}
body.userfondant .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #274569;
}
body.userfondant #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.useradmin .page-container {
  background: #b64645;
}
body.useradmin .x-navigation.x-navigation-horizontal {
  background: #b64645;
}
body.useradmin .x-navigation > li.xn-logo > a:first-child {
  background-color: #b64645;
}
body.useradmin .x-navigation > li.xn-profile {
  border-bottom: 1px solid #b64645;
}
body.useradmin .profile {
  background: #b64645;
}
body.useradmin ul.x-navigation {
  background: #b64645;
}
body.useradmin ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #ab4241;
}
body.useradmin ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #b24544;
}
body.useradmin ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #bb4c4b;
}
body.useradmin ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #af4342;
}
body.useradmin .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #bb4c4b;
}
body.useradmin #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.userdirectsales .page-container {
  background: orange;
}
body.userdirectsales .x-navigation.x-navigation-horizontal {
  background: orange;
}
body.userdirectsales .x-navigation > li.xn-logo > a:first-child {
  background-color: orange;
}
body.userdirectsales .x-navigation > li.xn-profile {
  border-bottom: 1px solid orange;
}
body.userdirectsales .profile {
  background: orange;
}
body.userdirectsales ul.x-navigation {
  background: orange;
}
body.userdirectsales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #f09b00;
}
body.userdirectsales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #faa200;
}
body.userdirectsales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #ffa90a;
}
body.userdirectsales ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #f59e00;
}
body.userdirectsales .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #ffa90a;
}
body.userdirectsales #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.usercookie .page-container {
  background: #244062;
}
body.usercookie .x-navigation.x-navigation-horizontal {
  background: #244062;
}
body.usercookie .x-navigation > li.xn-logo > a:first-child {
  background-color: #244062;
}
body.usercookie .x-navigation > li.xn-profile {
  border-bottom: 1px solid #244062;
}
body.usercookie .profile {
  background: #244062;
}
body.usercookie ul.x-navigation {
  background: #244062;
}
body.usercookie ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #203957;
}
body.usercookie ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #233e5e;
}
body.usercookie ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #274569;
}
body.usercookie ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #213b5b;
}
body.usercookie .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #274569;
}
body.usercookie #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.usermanager .page-container {
  background: #29b2e1;
}
body.usermanager .x-navigation.x-navigation-horizontal {
  background: #29b2e1;
}
body.usermanager .x-navigation > li.xn-logo > a:first-child {
  background-color: #29b2e1;
}
body.usermanager .x-navigation > li.xn-profile {
  border-bottom: 1px solid #29b2e1;
}
body.usermanager .profile {
  background: #29b2e1;
}
body.usermanager ul.x-navigation {
  background: #29b2e1;
}
body.usermanager ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #1facdc;
}
body.usermanager ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #25b0e0;
}
body.usermanager ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #32b5e2;
}
body.usermanager ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #20afe0;
}
body.usermanager .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #32b5e2;
}
body.usermanager #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}
body.useraccounting .page-container {
  background: #b64645;
}
body.useraccounting .x-navigation.x-navigation-horizontal {
  background: #b64645;
}
body.useraccounting .x-navigation > li.xn-logo > a:first-child {
  background-color: #b64645;
}
body.useraccounting .x-navigation > li.xn-profile {
  border-bottom: 1px solid #b64645;
}
body.useraccounting .profile {
  background: #b64645;
}
body.useraccounting ul.x-navigation {
  background: #b64645;
}
body.useraccounting ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) {
  color: #fff;
  border-bottom: 1px solid #ab4241;
}
body.useraccounting ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control) {
  border-bottom: 1px solid #b24544;
}
body.useraccounting ul.x-navigation li:not(.xn-icon-button):not(.xn-logo) a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control):hover {
  background-color: #bb4c4b;
}
body.useraccounting ul.x-navigation li:not(.xn-icon-button):not(.xn-logo).active > a {
  background: #af4342;
}
body.useraccounting .x-navigation.x-navigation-horizontal li a:hover {
  background-color: #bb4c4b;
}
body.useraccounting #navigation .widget .widget-title {
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
}