@import 'elements.less';

.col-md2-3{
    width:20%;
    float:left;
    padding-right: 20px;
}
div[class^='col-md']{
    &.active .widget{
        .box-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
        //-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(55%, transparent) , to(rgba(250, 250, 250, 0.5)));
    }
}

@color1:#8C0104;
@color2:#2D3945;

.x-navigation > li.xn-logo > a:first-child{
    background: url('../kinkcakes/imgs/logo.png') no-repeat scroll center top @color2;
    background-size: 240px;
    background-position: -10px -22px;
    height: 95px;
    &:hover{
        background-color:@color2;
    }
}

.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child{
    background:url('../kinkcakes/imgs/girl.jpg');
    background-size: 98%;
    background-repeat: no-repeat;
}

/*.x-navigation.x-navigation-horizontal{
    background-color:@color1;
}*/

.page-container .page-content{
    background:url('../kinkcakes/imgs/bg.png');
}

.timeplugin{
    text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    padding: 15px;
    margin: auto;
    left: 60px;
    right: 60px;
    z-index: 10;
}

#navigation{
    .widget .widget-title{
        text-align: center;
        padding-top: 33px;
        font-size: 22px;
    }
}

.loginController{
    h1#title{
        text-align:center;
        color: white;
    }
}

body{

    .profile{
        .profile-data .profile-data-title{
            color: #FFF;
            text-transform: uppercase;
            font-size: 14px;
        }
    }


    .page-content-wrap{
        &.cakes.index .panel2{
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);

            float: left;
            width: 100%;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 0px;
            border-top: 2px solid #E5E5E5;
            margin-bottom: 20px;
            position: relative;
            -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        }
        &.inventoryController{
            .btn-group{
                position: absolute;
                top: 15px;
                left: 180px;
                width: 150px;
                a{
                    width: 300px;
                }
            }
            .table{
                tr{
                    td{
                        &#img{
                            text-align:center;
                        }
                        img{
                            max-height: 100px;
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }

    &.userproduction{
        @color:#7B0000;
        @color:#035728;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }
    &.userstoresales{
        @color:#7B0000;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }
    &.usermarshmallow{
        @color:#244062;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }
    &.userfondant{
        @color:#244062;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }
    &.useradmin{
        @color:#b64645;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }
    &.userdirectsales{
        @color:orange;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }

    &.usercookie{
        @color:#244062;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }

    &.usermanager{
        @color:#29b2e1;
        .page-container{

            background:@color;
            .page-content{
                
            }
        }
        .x-navigation.x-navigation-horizontal{
            background:@color;
        }
        .x-navigation > li.xn-logo > a:first-child{
            background-color:@color;
        }
        .x-navigation > li.xn-profile{
            border-bottom:1px solid @color;
        }
        .profile{
            background:@color;
        }
        ul.x-navigation{
            background:@color;
            li:not(.xn-icon-button):not(.xn-logo){
                color:#fff;
                border-bottom: 1px solid darken(@color,3%);
                a:not(.profile-control-left):not(.profile-control-right):not(.x-navigation-minimize):not(.mb-control){
                    border-bottom: 1px solid darken(@color,1%);
                    &:hover{
                        background-color:lighten(@color,2%);
                        .fa{

                        }
                    }
                }
                &.active > a{
                    background:darken(@color,2%);
                }
            }
        }
        .x-navigation.x-navigation-horizontal{
            li{
                a{
                    &:hover{
                        background-color:lighten(@color,2%);
                    }
                }
            }
        }
        #navigation .widget .widget-title{
            font-size: 16px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);
        }
    }
}