@charset "utf-8";
/* CSS Document */
.formLayout
    {
        background-color: #f3f3f3;
        border: solid 1px #a1a1a1;
        padding: 10px;
        width: 300px;
		margin-left:500px;
		position:relative;
		
    }
    
    .formLayout label, .formLayout input
    {
        display: block;
        width: 120px;
        float: left;
        margin-bottom: 10px;
    }
 
    .formLayout label
    {
        text-align: right;
        padding-right: 20px;
    }
	.formLayout button{
		margin-left: 140px;
	}
 
    br
    {
        clear: left;
    }

/*
Author: TemplateAccess.com (DT/TS)
*/
@charset "utf-8";
body { 
	 padding:10px; margin:10px;
	 
	}

  