@import url('bootstrap.css');
@import url('webkit.css');

html, html a {
	-webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

body {
	background:url('../img/headerbg.jpg') repeat-x top, url('../uploads/background.jpg') no-repeat fixed;
	background-size:auto,cover;
	-ms-behavior: url('backgroundsize.min.htc');
}



#header {
	height:120px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

.loginheader {
	height:120px;
	width:100%;
	background:url('../img/timetrackaopacity.png') repeat-x center;
}

.alert {
	-webkit-animation: moveFromBottom 500ms ease;
	-moz-animation: moveFromBottom 500ms ease;
	-ms-animation: moveFromBottom 500ms ease;
	/*
	-webkit-animation: smallToBig 500ms ease;
	-moz-animation: smallToBig 500ms ease;
	-ms-animation: smallToBig 500ms ease;
	*/
	overflow:hidden;
}

.loginlogo {
	margin-top:10px;
	position:relative;
	left:-70px;
}

.logo {
	margin-top:10px;
}

.navigation {
	margin-top:88px;
	margin-left:0px;
	padding:0px;
	position:relative;
	z-index:10;
}

.navigation ul {
	margin:0px;
	padding:0px;
	float:right;
}

.navigation li {
	padding-top:7px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	margin-left:5px;
	display: inline;
	list-style-type: none;
	float:left;
	border-radius:7px 7px 0px 0px;
	-webkit-border-radius:7px 7px 0px 0px;
	-moz-border-radius:7px 7px 0px 0px;
	-ms-border-radius:7px 7px 0px 0px;
	-o-border-radius:7px 7px 0px 0px;
	transition: all 500ms;
	-webkit-transition: all 500ms;
	background:#141414;
	position:relative;

}

.navigation a {
	color:#d8d8d8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-decoration:none;
}

.navigation li:hover {
	/*background:#fbfbfb;*/
	background:#fff;
	color:#252525;
}

.navigation li.active {
	/*background:#fbfbfb;*/
	background:#fff;
	color:#252525;
}

#main {
	/*
	background:rgba(255,255,255,0.95);
	background:#fbfbfb;
	*/
	background:#fff;
	padding-bottom:50px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;


	border-radius:0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	-o-border-radius:0px 0px 10px 10px;
	-ms-border-radius:0px 0px 10px 10px;

	box-shadow:1px 0px 7px rgba(0,0,0,0.75);
	-webkit-box-shadow:1px 0px 7px rgba(0,0,0,0.75);
	-moz-box-shadow:1px 0px 7px rgba(0,0,0,0.75);
	-o-box-shadow:1px 0px 7px rgba(0,0,0,0.75);
	-ms-box-shadow:1px 0px 7px rgba(0,0,0,0.75);
	position:relative;	
	z-index:1;
}

#goal {
	background:url(../img/bgnoise.jpg) #000;
	width:780px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	height:40px;
	padding-left:30px;
	padding-right:30px;
	position:relative;
	z-index:1;

	border-radius:0px 0px 20px 20px;
	-moz-border-radius:0px 0px 20px 20px;
	-webkit-border-radius:0px 0px 20px 20px;
	-o-border-radius:0px 0px 20px 20px;
	-ms-border-radius:0px 0px 20px 20px;

	box-shadow:1px 0px 10px rgba(0,0,0,0.75);
	-webkit-box-shadow:1px 0px 10px rgba(0,0,0,0.75);
	-moz-box-shadow:1px 0px 10px rgba(0,0,0,0.75);
	-o-box-shadow:1px 0px 10px rgba(0,0,0,0.75);
	-ms-box-shadow:1px 0px 10px rgba(0,0,0,0.75);

	bottom:140px;
	cursor:pointer;
	
}

#message {
	background:#fff;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	color:#f26522;
	font-size:26px;
	line-height:26px;
	font-family:Franklin Gothic Medium;
}

#triangle {
	display:block;
	position:relative;
	left:15px;
	width:58px;
	height:29px;
	background:url('../img/triangle.png') no-repeat;
	margin-bottom:20px;
}


.balance {
	margin:0px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}

.balance li {
	list-style-type: none;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:8px;	
}

.time h1 {
	font-size:72px;
}

.details h1 {
	color:#ff0000;
	font-weight:normal;
	font-size:36px;
}

.details h2 {
	font-weight:normal;
	font-size:26px;
}

.controls {
	padding-top:30px;
	padding-left:20px;
}

.loginbox {
	text-align:center;
	background:#fff;
	margin-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:40px;
	padding-bottom:5px;
	box-shadow:1px 1px 5px rgba(0,0,0,0.75);
	-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.75);
	-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.75);
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	
	margin-top:84px;
}

#logo {
	margin-top:5px;
	margin-bottom:20px;
}

.alert p {
	margin-bottom:0px;
}

#settings {
	border:1px solid #ddd;
	padding-top:20px;
	padding-right:20px;
	border-radius:0px 5px 5px 5px;
	-webkit-border-radius:0px 5px 5px 5px;
	-moz-border-radius:0px 5px 5px 5px;
	min-height:300px;
	padding-bottom:100px;
}

.mybtn {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:42px;
	text-shadow:0 0px 5px rgba(0, 0, 0, 0.25);
	-webkit-text-shadow:0 0px 5px rgba(0, 0, 0, 0.25);
	-moz-text-shadow:0 0px 5px rgba(0, 0, 0, 0.25);
    background: url("../img/btn.jpg") repeat-x scroll 0 0 transparent;
	padding-top:42px;
    border: medium none;
	color:#fff;
	letter-spacing:1px;
	border-radius:10px;
	text-decoration:none;
	text-align:center;
	height:56px;
	margin-bottom:25px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.25);

}

.myredbtn {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:42px;
	text-shadow:0 0px 5px rgba(0, 0, 0, 0.25);
	-webkit-text-shadow:0 0px 5px rgba(0, 0, 0, 0.25);
	-moz-text-shadow:0 0px 5px rgba(0, 0, 0, 0.25);
    background: url("../img/redbtn.jpg") repeat-x scroll 0 0 transparent;
	padding-top:42px;
    border: medium none;
	color:#fff;
	letter-spacing:1px;
	border-radius:10px;
	text-decoration:none;
	text-align:center;
	height:56px;
	margin-bottom:15px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.25);

}

.myredbtn:hover {
	text-decoration:none;
	color:#fff;
	background:url("../img/redbtnreverse.jpg") repeat-x;
}

.myredbtn:active {
	top:5px;
}

.mybtn:hover {
	text-decoration:none;
	color:#fff;
	background:url("../img/btnreverse.jpg") repeat-x;
}

.mybtn:active {
	top:5px;
}

.mydisabled {
	postition:relative;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:42px;
	background:#efefef;
	padding-top:36px;
	border:3px solid #d7d7d7;
	color:#898989;
	letter-spacing:1px;
	border-radius:10px;
	text-decoration:none;
	text-align:center;
	height:56px;
	margin-bottom:10px;
	cursor:default;

	box-shadow: 0px 0px 3px rgba(0,0,0,0.25);

}

.mydisabled:hover {
	text-decoration:none;
	color:#898989;
	cursor:default;
}

.span4 {
    margin-left: 5px;
    margin-top: 22px;
    padding-right: 11px;
    width: 300px;
}

#digiclock {
	margin-top:65px;
}


.name {
	font-size:36px;
	color:#0072bc;
	line-height:36px;
	font-family:arial;
}

.status {
	line-height:36px;
	position:relative;
	bottom:6px;
	left:5px;
}

.time {
	background:#f5f5f5;
	padding-top:25px;
	padding-bottom:10px;	
	border-radius:15px;
	-webkit-border-radius:15px;

	-moz-box-shadow:    inset 1px 1px 5px rgba(0,0,0,0.35);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.35);
	box-shadow:         inset 1px 1px 5px rgba(0,0,0,0.35);
}

.welcome {
	margin-top:40px;
	display:block;
	color:#f26522;
	font-size:22px;
	line-height:22px;
	margin-bottom:10px;
}

.mytext {
	font-size:20px;
	color:#898989;
}

.btncontrols {
	margin-top:10px;
}

#userstable {
	margin-top:10px;
}

.badge {
	-webkit-animation: smallToBig 300ms ease;
	-moz-animation: smallToBig 300ms ease;
	-ms-animation: smallToBig 300ms ease;
}

.bootstrap-select {
	position: relative;
}

.dropdown-menu {
	position: absolute;
}

.selectpicker {
	position: absolute;
	z-index:500;
}